<div class="container">
<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_name %>
    <%= form.text_field :patient_name,class:"form-control", placeholder:"Patient Name" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class:"form-control", placeholder:"Image"  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" , placeholder:"Description" %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:name),:id,:name, include_blank: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>