<header>
<!-- Intro settings -->
<style>
  /* Default height for small devices */
  #intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
</style>

<!-- Navbar -->

<!-- Navbar -->

<!-- Background image -->
<div
  id="intro-example"
  class="p-5 text-center bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');"
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Malnutrition children Health care</h1>
        <h5 class="mb-4">As a concerned parent, you are sensitive to the nutritional needs of your child, and that includes avoiding risk factors that could lead to malnutrition. Understanding the major causes of malnutrition can help you form good habits when it comes to your own health as a parent, as well as the health of your child.  

        </h5>
        <%= link_to 'Malnutrition obesity', patients_path, class:"btn btn-outline-light btn-lg m-2" %>
        <%= link_to 'Malnutrition underwidth', patients_path, class:"btn btn-outline-light btn-lg m-2" %>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
</header>
<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <h1 class="heading">
            Malnutrition New Cases 
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                  <% @patients.each do |patient| %>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                           
                          <% if patient.image_url %>
                            <%= image_tag patient.image_url,class:"card" %>
                          <% end %>
                            <div class="card-content">
                                <h4 class="card-title">
                                <%= patient.category.name %>
                                  </a>
                                </h4>
                                <p class="">
                                <%= patient.description %>
                                </p>
                            </div>
                            <div class="card-read-more">
                              <%= link_to 'Read more', patient %>
                            </div>
                        </div>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
